[run]
omit=
    app/tests/*
    app/bot.py
    app/config.py
    app/log_config.py
    app/loggers.py
    app/logs_notifications.py
    app/mongo_client.py
    app/run.py
    app/texts.py
    app/keyboards.py
    app/handlers/*
    app/scheduler/*
